<div class="main-container d-flex panel">
    <app-panel-sidebar></app-panel-sidebar>

    <div class="content">

        <app-panel-navbar></app-panel-navbar>

        <div class="dashboard-content">
            <div class="main-container">              
                <div class="row mt-5">
                    <div class="col-md-5">
                        <div class="card p-4 mt-2 card-chart">
                            <h1 class="h3">
                                {{"Panel-index.myDepartments" | translate}}
                                <i class="bi bi-collection"></i>
                            </h1>
                            <p class="badge-count">{{departmentCount}}</p>
                            <img src="../assets/images/card-bg-blue.png" alt="maskot">
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card p-4 mt-2 card-chart">
                            <h1 class="h3">
                                {{"Panel-index.myEmployees" | translate}}
                                <i class="bi bi-person"></i>
                            </h1>
                            <p class="badge-count">{{employeeCount}}</p>
                            <img src="../assets/images/card-bg-purple.png" alt="maskot">

                        </div>
                    </div>
                </div>               
            </div>
        </div>

    </div>
</div>