<div class="left-side-bar">
    <div class="modal-header justify-content-center d-flex">
        <a routerLink="/panel">
            <img src="../assets/images/logo-white.png" alt="Logo" />
            <span class="close-btn d-md-none">X</span>
        </a>
    </div>

    <hr />
    <ul>
        <li>
            <a routerLink="/panel">{{ 'Panel-sidebar.Dashboard' | translate }}</a>
        </li>
        <li>
            <a routerLink="/panel/time-log">{{ 'Panel-sidebar.TimeLog' | translate }}</a>
        </li>
        <li>
            <a routerLink="/panel/user">{{ 'Panel-sidebar.User' | translate }}</a>
        </li>
        <li>
            <a routerLink="/panel/bank">{{ 'Panel-sidebar.BankInformation' | translate }}</a>
        </li>
        <li>
            <a routerLink="/panel/public-holiday">{{ 'Panel-sidebar.PublicHoliday' | translate }}</a>
        </li>
        <li>
            <a routerLink="/panel/report">{{ 'Panel-sidebar.Report' | translate }}</a>
        </li>
        <hr />
        <li>
            <a routerLink="/panel/profile">{{ 'Panel-sidebar.profile' | translate }}</a>
        </li>
        <li>
            <a routerLink="/">{{ 'Panel-sidebar.homePage' | translate }}</a>
        </li>
    </ul>
</div>

<!-- Mobil size Modal -->
<div class="modal fade" id="left_side_bar_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header justify-content-center d-flex">
                <a routerLink="/panel">
                    <img src="../assets/images/logo-white.png" alt="Logo" />
                    <span class="close-btn d-md-none">X</span>
                </a>
            </div>

            <hr />

            <!-- Modal Body -->
            <div class="modal-body">
                <ul>
                    <li>
                        <a routerLink="/panel">{{ 'Panel-sidebar.Dashboard' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/panel/time-log">{{ 'Panel-sidebar.TimeLog' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/panel/user">{{ 'Panel-sidebar.User' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/panel/bank">{{ 'Panel-sidebar.BankInformation' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/panel/public-holiday">{{ 'Panel-sidebar.PublicHoliday' | translate }}</a>
                    </li>
                    <hr />
                    <li>
                        <a routerLink="/panel/profile">{{ 'Panel-sidebar.profile' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/">{{ 'Panel-sidebar.homePage' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
